<!DOCTYPE html>
<html>
  <head>
    <title>Message Place</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="./new">POST!</a>
    <ul>
      <% for (m in messages){ %>
        <div class="message">
          <h2><%=messages[m].user%></h2>
          <div class="vl"></div>
          <p><%=messages[m].text%></p>
        </div>
      <%}%>
    </ul>
  </body>
</html>